.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 2px solid aqua;
    margin-top: 15px;
}

.delete__button {
    padding: 5px 15px;
    cursor: pointer;
}